 <div class="contacts_container">
        <div class="contacts_main_block">
            <div class="contacts_address_block">
                <div>
                    <h4 class="header_4 contact_sub_header">Address</h4>
                    <p class="simple_text">Страна: Россия, Город: Москва Улица: Большая Кремлевская Дом:1 Строение: 1
                    </p>
                </div>
                <div>
                    <h4 class="header_4 contact_sub_header">Phone:</h4>
                    <ul class="simple_text contact_list">
                        <li>
                            <p class="contact_list_el">7 777 777 77 77</p>
                        </li>
                        <li>
                            <p class="contact_list_el">8 888 888 88 88</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="header_4 contact_sub_header">Online service</h4>
                    <ul class="simple_text contact_list">
                        <li class="contact_list_el"><a class="contact_ref" href="https://geekbrains.ru/"
                                target="_blank">geekbrains.ru</a></li>
                        <li class="contact_list_el"><a class="contact_ref" href="mailto:some_mail@mail.ru"
                                target="_blank">some_mail@mail.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="contacts_message_block" action="" method="post">
                <h4 class="header_4">Send us message</h4>
                <p class="contact_message_text">Full Name</p> <input class="input_box" type="text" name="name" size="30"
                    placeholder="Ваше Имя"> <br>
                <p class="contact_message_text">Email</p> <input class="input_box" name="mail" type="email" size="30"
                    placeholder="mail@mail.ru"> <br>
                <p class="contact_message_text">Message </p>
                <textarea class="input_box" rows="10" cols="45" name="text" placeholder="Введите ваш вопрос"></textarea>
                <br>
                <button class="sub_button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="contacts_container">
        <div class="map_block">
            <h4 class="header_4">Как добраться:</h4>
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3a08591a75577bcf3832c6255de3db3bfe011ec0d32e58e358f822a0903dc2ea&amp;width=100%&amp;height=500&amp;lang=ru_UA&amp;scroll=true"></script>
        </div>
    </div>
    <div class="footer_block">
        <div class="footer_contacts">
            <ul class="footer_list">
                <li class="footer_list_el">A. Разработчки: Дьяченко Игорь</li>
                <li class="footer_list_el">T. +7 777 777 77 77</li>
                <li class="footer_list_el">E. some_mail@mail.ru</li>
            </ul>
            <div class="footer_copywrite">
                <p class="simple_text copy_txt">Все права защищены &copy; </p>
            </div>
        </div>
    </div>
